<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="glebshanshin.trashworld">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayActivity"
            android:label=".PlayActivity" />
        <activity
            android:name=".StoreActivity"
            android:label=".StoreActivity" />
        <activity
            android:name=".AchievementsActivity"
            android:label=".AchievementsActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label=".SettingsActivity" />
        <activity
            android:name=".StatisticsActivity"
            android:label=".StatisticsActivity" />
        <activity
            android:name=".LotteryActivity"
            android:label=".LotteryActivity" />
        <activity
            android:name=".LotteryStoreActivity"
            android:label=".LotteryStoreActivity" />
        <activity
            android:name=".BonusActivity"
            android:label=".BonusActivity" />
        <activity
            android:name=".QRScanActivity"
            android:label=".QRScanActivity" />
        <activity
            android:name=".PromoActivity"
            android:label=".PromoActivity" />
        <activity
            android:name=".QRActivity"
            android:label=".QRActivity" />
    </application>

</manifest>